{% extends "base.html" %}
{% block page_content %}
<body>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% block content %}
<p>{{ flight_date }}</p>
<p>{{ flight_date_reverse }}</p>
<p>{{ flyfromcity }}</p>

<div> {{ map | safe }}</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">name</th>
      <th scope="col">price</th>
    </tr>
  </thead>
    <tbody>

{% for key in dict_hotel.items %}
<tr>

      <td>{{ key.1.0 }}</td>
      <td>{{ key.1.1 }}</td>

      <td>
          <form method="POST" action="okorder/">
              {% csrf_token %}
               <input type="submit" value="OK" >
          </form>

      </td>
    </tr>



{% endfor %}
</tbody>
</table>














{% endblock content %}
</body>
{% endblock %}