{% extends "base.html" %}
{% block page_content %}

<button type="submit">
        <img src="https://cdnn21.img.ria.ru/images/94047/25/940472598_0:43:3447:1994_600x0_80_0_0_0d8d1258c7b80436396720439ae49c81.jpg" alt="buttonpng" border="0" />

      </button>

    <button type="submit">
        <img src="https://www.portobay.com/remote.axd/pbaybucket.s3.amazonaws.com/media/2853207/lhpbsp_executivoking_8_baixa.jpg?mode=crop&center=0.5,0.5&width=480&height=360" alt="buttonpng" border="0" />

      </button>


{% endblock %}