{% extends "base.html" %}
{% block page_content %}


<table border="0" style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 50%;">
   <form method="POST" action="okorder/">
    <center>
    {% csrf_token %}
    <table>
        {{ form }}
    </table>
 <input type="submit" value="OK" >

    </center>

</form>


</td>
<td style="width: 50%;">
    <h4> {{ id }} </h4>
    <h4> {{ datain }} </h4>
    <h4> {{ dataout }} </h4>
    <h4> {{ categoryroom }} </h4>
    <h4> {{ beds }} </h4>
    <h4> {{ bedstype }} </h4>
    <h4> {{ typeprice }} </h4>
    <h4> {{ pricetotal }} </h4>



</td>
</tr>
</tbody>
</table>










{% endblock %}