{% extends "base.html" %}
{% block page_content %}


<table border="0" style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 50%;">
   <form method="POST" action="okorder/">
    <center>
    {% csrf_token %}
    <table>
        {{ form }}
    </table>
 <input type="submit" value="OK" >

    </center>

</form>


</td>
<td style="width: 50%;">

    <h4> Дата прибытия - {{ datain }} </h4>
    <h4> Дата выезда - {{ dataout }} </h4>
    <h4> Категория номера - {{ categoryroom }} </h4>
    <h4> Количество кроватей - {{ beds }} </h4>
    <h4> Тип кровати - {{ bedstype }} </h4>
    <h4> Валюта -  {{ typeprice }} </h4>
    <h4> Цена - {{ pricetotal }} </h4>



</td>
</tr>
</tbody>
</table>










{% endblock %}